@Model Store.WebApp.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model)
{
    <dir>
        <h3>@p.Name</h3>
        @p.Description
        <h4>@p.Price.ToString("c")</h4>
    </dir>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x=> Url.Action("List", new { page = x}))
</div>
